# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Libraries used by Data Scientists
* Examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

## Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Panda
3. Scikit-learn
4. Matplotlib
5. TensorFlow
6. PyTorch
7. Natural Language Toolkit (NLTK)

|Data Science Tools|
|------------------|
|MySQL|
|Airflow|
|Spark SQL|
|Git|
|jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Thi NGUYEN